body{
  background-color: black;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  
 
  
}


.container{
  max-width: 1200px;
  border-radius: 10px;
  padding: 10px;
}

li{
  text-decoration: none;
  list-style: none;
}
p{
  color: whitesmoke;
}


.image-thumbnail {
  width: 60px;
  height: 60px;
  height: auto;
  display: block;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  object-fit: cover;

}


.project-image {
  width: 150px;
  height: auto;
  display: block;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}


.image-preview {
  display: none;
  width: 150px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
}

